<div class="col-md-3 col-sm-6">
	<div class="content-wrap widget-recent-posts">
            <h4>{{ settings.title }}</h4>
            <ul>
            {% for comment in pager.getResults() %}
                <li>
                <a class="post-title" href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(comment.post) }) }}#comments">{{ comment.name }} - {{ comment.message|truncate(30) }}</a>
                </li>
            {% else %}
                <li><p>{{ 'no_comments_available'|trans({}, 'SonataNewsBundle') }}</p></li>
            {% endfor %}
            </ul>
	</div>
</div>
